<!doctype html>
<html>
  <head>
    <title>Shares</title>
  </head>
  <body>
    <h1>Share market sorted by highest to lowest share prices</h1>
    <table>
      <thead>
        <tr>
          <th>Company Name</th>
          <th>Symbol</th>
          <th>Available Shares</th>
          <th>Price</th>
          <th>Date Updated</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for share in stock_data %}
          <tr>
            <td>{{ share.company_name }}</td>
            <td>{{ share.symbol }}</td>
            <td>{{ share.available_shares }}</td>
            <td>{{ share.price }} {{ share.currency }}&nbsp;</td>
            <td>{{ share.last_update }}</td>
        {% endfor %}
      </tbody>
    </table>
    <p><a href="{{ url_for('users', u_id= u_id) }}">Go to your profile</a></p>
    <p><a href="{{ url_for('search') }}">Search stocks by your criteria</a></p>
  </body>

</html>